spring:
  application:
    name: gateway-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      # Enable CORS for the frontend on http://localhost:4200
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            # Customer Service Routes
            - id: customer-service
              uri: lb://CUSTOMER-SERVICE
              predicates:
                - Path=/customer-service/**
              filters:
                - StripPrefix=1
            
            # Inventory Service Routes
            - id: inventory-service
              uri: lb://INVENTORY-SERVICE
              predicates:
                - Path=/inventory-service/**
              filters:
                - StripPrefix=1
            
            # Billing Service Routes
            - id: billing-service
              uri: lb://BILLING-SERVICE
              predicates:
                - Path=/billing-service/**
              filters:
                - StripPrefix=1

server:
  port: 9999

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"

